body
{
	max-width: 1680px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.main-wrapper
{
	@extend .container-fluid;
	padding: 0;
	margin: 0;
	max-width: 1680px;
	background-color: white;
}


@font-face 
{
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto/RobotoLight.eot');
    src: url('../fonts/Roboto/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/Roboto/RobotoLight.woff2') format('woff2'),
         url('../fonts/Roboto/RobotoLight.woff') format('woff'),
         url('../fonts/Roboto/RobotoLight.ttf') format('truetype'),
         url('../fonts/Roboto/RobotoLight.svg#RobotoLight') format('svg');
}


@font-face 
{
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto/RobotoRegular.eot');
    src: url('../fonts/Roboto/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/Roboto/RobotoRegular.woff2') format('woff2'),
         url('../fonts/Roboto/RobotoRegular.woff') format('woff'),
         url('../fonts/Roboto/RobotoRegular.ttf') format('truetype'),
         url('../fonts/Roboto/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face 
{
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto/RobotoBold.eot');
    src: url('../fonts/Roboto/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/Roboto/RobotoBold.woff2') format('woff2'),
         url('../fonts/Roboto/RobotoBold.woff') format('woff'),
         url('../fonts/Roboto/RobotoBold.ttf') format('truetype'),
         url('../fonts/Roboto/RobotoBold.svg#RobotoBold') format('svg');
}

@font-face 
{
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto/RobotoBlack.eot');
    src: url('../fonts/Roboto/RobotoBlack.eot') format('embedded-opentype'),
         url('../fonts/Roboto/RobotoBlack.woff2') format('woff2'),
         url('../fonts/Roboto/RobotoBlack.woff') format('woff'),
         url('../fonts/Roboto/RobotoBlack.ttf') format('truetype'),
         url('../fonts/Roboto/RobotoBlack.svg#RobotoBlack') format('svg');
}
