
.wrapper-content
{
	@extend .container-fluid;
	max-width: 1684px;
	width: 100%;
	background: #e9f7fe url("../img/footer_back.png") 101% bottom no-repeat;
	margin: 0 auto;
	padding: 0;
	font-family: RobotoRegular;

	.content
	{
		@extend .container-fluid;
		max-width: 1064px;
		margin: 0 auto;
		padding: 0;

		div.ul-wrapper
		{
			float: left;
			width: 33.3%;

				ul
				{
					
					width: 100%;
					margin: 0;
					padding: 0;
					list-style-type: none;

					li
					{
						display: block;
						margin: 0;
						padding: 0 0 0 20px;

						h1
						{
							margin: 0;
							font-family: RobotoLight;
							font-size: 34px;
							color: black;
							text-align: left;
							padding: 40px 0 28px 0;

							span
							{
								font-family: RobotoBold;
								color: #33479c;
							}
						}

						p
						{
							color: #a5a5a5;
							font-size: 14px;
							line-height: 20px;
							margin: 0;
							padding-right: 15px;
							text-align: left;
						}

						img.first-book 
						{
							margin: -138px 0 0 112px;
							position: relative;
						}

						img.second-base
						{
							position: relative;
							margin-top: 20px;
						}

						img.second-mailbox
						{
							position: relative;
							margin: -141px 0 0 143px;
						}

					}

					li:nth-child(2)
					{
						padding-bottom: 35px;
					}
				}
			
		}

		div.ul-wrapper.news
		{
			ul
			{
				li:first-child
				{
					padding: 0 0 0 5px;
				}

				li:nth-child(4)
				{
					padding-top: 10px;
				}

				li:first-child:hover, li:nth-child(4):hover
				{
					background: transparent;
				}

				li:hover
				{
					background: white;
					.date
					{
						p.day, p.year
						{
							color: #33479c;
						}
					}
				}

				li
				{

				    min-height: 81px;
				    padding: 5px 0 0 5px;
				    margin-right: 20px;

					.date
					{
						width: 77px;
						height: 71px;
						background: url("../img/news_date.png") 0 0 no-repeat;
						float: left;

						p.day
						{
							font-family: RobotoBlack;
							font-size: 26px;
							padding: 15px 7px 7px 0;
						}

						p.year
						{
							font-family: Arial;
							font-size: 12.99px;
							padding: 0 7px 0 0;
						}

						p.day, p.year
						{
							color: #7bc8ef;
							text-align: center;
							margin: 0;
						}
					}

					p.text
					{
						font-family: RobotoBold;
						font-size: 16px;
						padding: 0 35px 0 85px;
						color: #33479c;
					}

					p.link
					{
						margin: 0;
						color: white;
						padding: 12px 0 12px 18px;
						background: #33479c url("../img/content_arrow.png") 94% center no-repeat;
						border-radius: 5px;
					}

					a
					{
						text-decoration: none;
					}

					p.link:hover
					{
						background: #7bc8ef url("../img/content_arrow_over.png") 94% center no-repeat;
					}

				}
			}
		}

		div.ul-wrapper.news:hover
		{
			ul
			{
				background: transparent;
			}
		}

		div.ul-wrapper:hover
		{
			ul
			{
				background: white;

				h1
				{
					color: #7bc8ef;

					span
					{
						color: #7bc8ef;
					}
				}

				p
				{
					color: #33479c;
				}
			}

			img.first-book, img.second-mailbox
			{
				-webkit-transform: translate(0, -20px);
				transform: translate(0, -20px);
				opacity: 1;
				-webkit-transition: all 0.7s ease;
				transition: all 0.7s ease;
			}
		}
	}

}

@media only screen and (max-width: 1200px)
{

	div.ul-wrapper
	{
		float: none !important;
		margin: 0 auto;
		width: 100% !important;
		max-width: 355px !important;
	}

}

@media only screen and (max-width: 355px)
{

	div.ul-wrapper
	{
		img
		{
			width: 70%;

			&.first-book
			{
				width: 60%;
				margin: -135px 0 0 105px !important;
			}

			&.second-mailbox
			{
				width: 50%;
				margin: -125px 0 0 132px !important;
			}
		}
	}

	div.ul-wrapper.news
	{
		ul
		{

			li
			{
			    margin: 0 auto !important;

			    p.text
			    {
			    	font-size: 14px !important;
			    }
			}
		}
	}

}